/* ==================== VARIABLES GLOBALES ==================== */
:root {
    --primary-color: #120a2b;
    --secondary-color: #1e0a3c;
    --accent-color: #a855f7;
    --accent-dark: #7c3aed;
    --accent-light: #e9d5ff;
    --accent-teal: #2dd4bf;       /* Color de contraste nuevo */
    --accent-teal-dark: #0d9488;
    --text-light: #f8f4ff;
    --text-muted: #c4b5fd;
    --success-color: #6ee7b7;
    --danger-color: #fb7185;
    --transition: all 0.3s ease;
    --card-bg: rgba(30, 10, 60, 0.7);
}

/* ==================== TEMA OSCURO ==================== */
[data-theme="dark"] {
    --primary-color: #120a2b;
    --secondary-color: #1e0a3c;
    --accent-color: #a855f7;
    --accent-dark: #7c3aed;
    --accent-light: #e9d5ff;
    --accent-teal: #2dd4bf;
    --accent-teal-dark: #0d9488;
    --text-light: #f8f4ff;
    --text-muted: #c4b5fd;
    --success-color: #6ee7b7;
    --danger-color: #fb7185;
    --card-bg: rgba(30, 10, 60, 0.7);
}

/* ==================== TEMA CLARO ==================== */
[data-theme="light"] {
    --primary-color: #016864;
    --secondary-color: #27b9d2;
    --accent-color: #c0c5d4;
    --accent-dark: #69cbb1;
    --accent-light: #ffffff;
    --accent-teal: #94b4bf;
    --accent-teal-dark: #76c9c3;
    --text-light: #f1eaea;
    --text-muted: #e6e4f0;
    --success-color: #6ee7b7;
    --danger-color: #ff0026;
    --card-bg: rgba(228, 221, 237, 0.7);
}