body
{
    background: #0f172a;
    color: #e2e8f0;
    font-family: Arial;
}

h1, h2
{
    color: #38bdf8;
}

img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card
{
    background: #1e293b;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover
{
    transform: scale(1.05);
}

.navbar
{
    background: #020617 !important; 
}

.card img
{
    height: 180px;
    object-fit: cover;
}

.card:hover img {
    opacity: 0.8;
}